.customer-form {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  padding-left: 38px;
  padding-right: 42px;
  box-sizing: border-box;
}

.customer-form_type_hide {
  display: none;
}

.customer-form__nav {
  max-width: 208px;
  width: 100%;
  padding-top: 20px;
}

.customer-form__links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}

.customer-form__list {
  width: 100%;
  height: 20px;
}

.customer-form__link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #979797;
  font-size: 12px;
  line-height: 14px;
}

.customer-form__link_active {
  color: #5A1094;
}

.customer-form__list:not(:last-of-type) > .customer-form__link:after {
  content: '';
  background-image: url(../../images/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  width: 20px;
  height: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 575px){
  .customer-form {
    max-width: 100%;
    grid-area: customer-form;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 20px;
  }
}
